USE [master]
GO
/****** Object:  Database [TransportadoraDB]    Script Date: 23/05/2026 09:52:29 ******/
CREATE DATABASE [TransportadoraDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TransportadoraDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MACONDA\MSSQL\DATA\TransportadoraDB.mdf' , SIZE = 4288KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'TransportadoraDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MACONDA\MSSQL\DATA\TransportadoraDB_log.ldf' , SIZE = 1072KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TransportadoraDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TransportadoraDB]
GO
/****** Object:  Table [dbo].[Manutencao]    Script Date: 23/05/2026 09:52:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Manutencao](
	[IdManutencao] [int] IDENTITY(1,1) NOT NULL,
	[IdVeiculo] [int] NOT NULL,
	[TipoManutencao] [varchar](100) NULL,
	[DataManutencao] [date] NULL,
	[Custo] [decimal](18, 2) NULL,
	[Estado] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdManutencao] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Motorista]    Script Date: 23/05/2026 09:52:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Motorista](
	[IdMotorista] [int] IDENTITY(1,1) NOT NULL,
	[Nome] [varchar](100) NULL,
	[CartaConducao] [varchar](50) NULL,
	[Habilitacoes] [varchar](100) NULL,
	[Estado] [varchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdMotorista] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Rota]    Script Date: 23/05/2026 09:52:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Rota](
	[IdRota] [int] IDENTITY(1,1) NOT NULL,
	[Origem] [varchar](100) NULL,
	[Destino] [varchar](100) NULL,
	[Distancia] [float] NULL,
	[TempoEstimado] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdRota] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Veiculo]    Script Date: 23/05/2026 09:52:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Veiculo](
	[IdVeiculo] [int] IDENTITY(1,1) NOT NULL,
	[Matricula] [varchar](20) NOT NULL,
	[Tipo] [varchar](30) NULL,
	[Capacidade] [float] NULL,
	[Consumo] [float] NULL,
	[Estado] [varchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdVeiculo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Viagem]    Script Date: 23/05/2026 09:52:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Viagem](
	[IdViagem] [int] IDENTITY(1,1) NOT NULL,
	[IdVeiculo] [int] NOT NULL,
	[IdMotorista] [int] NOT NULL,
	[IdRota] [int] NOT NULL,
	[DataViagem] [date] NULL,
	[PrecoCombustivel] [float] NULL,
	[CustoTotal] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdViagem] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Manutencao] ON 

INSERT [dbo].[Manutencao] ([IdManutencao], [IdVeiculo], [TipoManutencao], [DataManutencao], [Custo], [Estado]) VALUES (1, 1, N'Manutenção Preditiva', CAST(N'2026-05-23' AS Date), CAST(5000.00 AS Decimal(18, 2)), N'Concluido')
INSERT [dbo].[Manutencao] ([IdManutencao], [IdVeiculo], [TipoManutencao], [DataManutencao], [Custo], [Estado]) VALUES (2, 1, N'Manutenção Preditiva', CAST(N'2026-05-24' AS Date), CAST(5000.00 AS Decimal(18, 2)), N'Concluido')
SET IDENTITY_INSERT [dbo].[Manutencao] OFF
SET IDENTITY_INSERT [dbo].[Motorista] ON 

INSERT [dbo].[Motorista] ([IdMotorista], [Nome], [CartaConducao], [Habilitacoes], [Estado]) VALUES (1, N'Joaquim Ventura', N'12354', N'15', N'Activo')
INSERT [dbo].[Motorista] ([IdMotorista], [Nome], [CartaConducao], [Habilitacoes], [Estado]) VALUES (2, N'', N'', N'', N'')
SET IDENTITY_INSERT [dbo].[Motorista] OFF
SET IDENTITY_INSERT [dbo].[Rota] ON 

INSERT [dbo].[Rota] ([IdRota], [Origem], [Destino], [Distancia], [TempoEstimado]) VALUES (1, N'Uige', N'Luanda', 15, N'6')
SET IDENTITY_INSERT [dbo].[Rota] OFF
SET IDENTITY_INSERT [dbo].[Veiculo] ON 

INSERT [dbo].[Veiculo] ([IdVeiculo], [Matricula], [Tipo], [Capacidade], [Consumo], [Estado]) VALUES (1, N'LD 34 67 B', N'Autocarro', 45, 12, N'Disponivel')
INSERT [dbo].[Veiculo] ([IdVeiculo], [Matricula], [Tipo], [Capacidade], [Consumo], [Estado]) VALUES (2, N'LD 56', N'Camiao', 5000, 78, N'Disponivel')
SET IDENTITY_INSERT [dbo].[Veiculo] OFF
SET IDENTITY_INSERT [dbo].[Viagem] ON 

INSERT [dbo].[Viagem] ([IdViagem], [IdVeiculo], [IdMotorista], [IdRota], [DataViagem], [PrecoCombustivel], [CustoTotal]) VALUES (1, 1, 1, 1, CAST(N'2026-05-23' AS Date), 1000, 0)
INSERT [dbo].[Viagem] ([IdViagem], [IdVeiculo], [IdMotorista], [IdRota], [DataViagem], [PrecoCombustivel], [CustoTotal]) VALUES (2, 1, 1, 1, CAST(N'2026-05-23' AS Date), 12000, 0)
INSERT [dbo].[Viagem] ([IdViagem], [IdVeiculo], [IdMotorista], [IdRota], [DataViagem], [PrecoCombustivel], [CustoTotal]) VALUES (3, 1, 1, 1, CAST(N'2026-05-23' AS Date), 12000, 21600)
SET IDENTITY_INSERT [dbo].[Viagem] OFF
SET ANSI_PADDING ON

GO
/****** Object:  Index [UQ__Veiculo__0FB9FB4F6F1FD29D]    Script Date: 23/05/2026 09:52:30 ******/
ALTER TABLE [dbo].[Veiculo] ADD UNIQUE NONCLUSTERED 
(
	[Matricula] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Manutencao]  WITH CHECK ADD FOREIGN KEY([IdVeiculo])
REFERENCES [dbo].[Veiculo] ([IdVeiculo])
GO
ALTER TABLE [dbo].[Viagem]  WITH CHECK ADD FOREIGN KEY([IdMotorista])
REFERENCES [dbo].[Motorista] ([IdMotorista])
GO
ALTER TABLE [dbo].[Viagem]  WITH CHECK ADD FOREIGN KEY([IdRota])
REFERENCES [dbo].[Rota] ([IdRota])
GO
ALTER TABLE [dbo].[Viagem]  WITH CHECK ADD FOREIGN KEY([IdVeiculo])
REFERENCES [dbo].[Veiculo] ([IdVeiculo])
GO
USE [master]
GO
